<div>
  <h1>Overview</h1>
  <hr>
  <br>
  <br>
  <h3>{{name}}</h3>
  <small>Anzahl der Übungen: {{taskamount}}</small>
  <br>
  <br>
  <p [innerHTML]="description">
  </p>

  <button class="btn btn-default" (click)="nextTask();">Los geht's.</button>
  <br>
  <section *ngIf="chartData.length > 0" >
    <hr>

    <h4>Statistik</h4>
    <div class="row">
      <div class="col-md-12">
        <div>
          <canvas baseChart
                  [datasets]="chartData"
                  [labels]="chartLabels"
                  [options]="chartOptions"
                  [legend]="chartLegend"
                  [chartType]="chartType"
                  style="width: 100%;" ></canvas>
        </div>
      </div>
  </div>
  </section>
</div>