<style>
  button {
    padding: 5px;
    
  }
</style>

<h2>{{model.name}}</h2>
<h5>{{model.type}}</h5>

<br>
<form>
    <div *ngFor="let input of userInputs; let in=index" class="col-sm-3">
        <div class="form-group">
          <input type="text" [(ngModel)]="input.value" name="name{{in}}" class="form-control" />
        </div>
        <br />
    </div>

    <button (click)="addInputField()">Add input</button>
    <button (click)="evalInputs()">Fertig</button>
  </form>
  <div *ngFor="let hint of hints">
    <p>{{hint}}</p>
  </div>


  
  <br />
  <br />
  <br />
  <br />
  Debug...
  <br />
  {{userInputs | json}}



