<style>
  ul {
    padding: 0;
    list-style: none;
    display: flex;
  }
  ul li {
    padding: 0px 15px;
  }
</style>

<h1>Navigation</h1>
<ul>
    <li *ngFor='let x of navEntries'><a routerLink={{x.path}}>{{x.name}}</a></li>
</ul>

<!-- <table *ngIf="tasks">
    ADD HEADERS 
    <tr>
        <th>ID</th>
        <th>Name of Bird</th>
        <th>Type of Bird</th>
    </tr>-->

    <!-- BIND ARRAY TO TABLE 
    <tr *ngFor="let bird of tasks">
        <td>{{bird.ID}}</td>
        <td>{{bird.Name}}</td>
        <td>{{bird.Type}}</td>
    </tr>
</table>-->