<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-8">
						<h4>Definitionen</h4>
					</div>
					<div class="col-sm-4">
						<h4>Überschriften</h4>
					</div>
				</div>
				<hr>
				<div *ngFor="let def of definitions; let in=index" class="row" style="padding-bottom: 25px;">
					<div class="col-sm-6">
						<div>
							<p>{{def}}</p>
						</div>
					</div>
					<div class="col-sm-1" id="test">
						<input class="form-control" type="text" #examplenumberinput>
					</div>
					<div class="col-sm-1"></div> <!-- Empty div to align headings-->
					<div class="col-sm-4">
						<p><b>{{in+1}}.</b> {{headings[in]}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
    <hr>
    <br>
    <button [disabled]="alreadyEvaluated()" class="btn btn-success" (click)="evaluateInput()">Auswerten</button>
    <button *ngIf="points >= reqpoints" class="btn btn-success" (click)="nextTask()">Weiter</button>
    <button class="btn btn-danger" (click)="reset()">Noch mal</button>
    <br>
    <br>
    <div class="hints-div" *ngFor="let hint of hints">
        <span class="badge {{hint.styleClass}}">{{hint.text}}</span>
    </div>
    <div *ngIf="evaluatedTask">
        <hr>
        <span>Erreichte Anzahl an Punkten: {{points}}/{{maxpoints}}</span>
        <br>
        <span *ngIf="points < reqpoints">Sie brauchen mindestens {{reqpoints}} Punkte um vorzufahren.</span>
    </div>
</section>