<section>
    <div>
        <h2>{{title}}</h2>
        <a>Typ: Drag and Drop</a>
        <hr>
        <p [innerHTML]="question"></p>
        <br>
    </div>
    <!--<div>
        <div class="float-left">
            <div [dragula]='"bag-one"' [(dragulaModel)]="answers" style="min-height: 100px">
                <div *ngFor="let item of answers">{{item}}</div>
            </div>
        </div>
        <div class="float-right">
            <div [dragula]='"bag-one"' [(dragulaModel)]="possibleAnswers" style="min-height: 100px">
                <div *ngFor="let item of possibleAnswers">{{item}}</div>
            </div>
        </div>
    </div>-->
</section>